{% extends 'blog/base.html' %}

{% block content %}
    <h1>New Post</h1>
    <form method="post" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button class="save btn btn-default">Save</button>
    </form>
{% endblock %}
