{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        {% if post.published_date %}
            <div class="date">Published at: {{ post.published_date }}</div>
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        {% endif %}

        <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endblock %}
