{% extends 'blog/base.html' %}

{% block content %}

    {% for post in posts %}
        <article class="post">
            <div class="date">published: {{ post.published_date }}</div>
            <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
            <p>{{ post.text | linebreaksbr }}</p>
        </article>
    {% endfor %}

{% endblock %}
